Repository hmcts/ccpay-refunds-app, pull requests merged in 2021-09, with the labels that each got.

#47 Pay 4983 status history
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/StatusHistoryDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/UserIdentityDataDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/StatusHistoryResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/RefundReviewMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/StatusHistoryRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/state/RefundStateUtilTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-47

#54 Pay 5084 refund reason list
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RefundReasonNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/RefundReviewMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/RefundReason.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.6.yaml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/db.changelog-master.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/state/RefundStateUtilTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-54

#57 changes for payment connection
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/ServiceAuthTokenConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/ReconciliationProviderServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-57

#56 PAY-5070 Review and resubmit refund
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ResubmitRefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RootControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/filters/ServiceAndUserAuthFilterTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/state/RefundStateUtilTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-56

#59 Retro refund reason add
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.7.yaml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/db.changelog-master.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-59

#61 Added response body to resubmit API
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/ResubmitRefundResponseDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-61

#60 initial commit
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/IdamUserInfoResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/IdamUserListResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/UserIdentityDataDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-60

#63 Updated names in refund_reasons
  src/main/resources/db/changelog/db.changelog-0.7.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-63

#65 Updated logic for Retrospective remission Refund Reason
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.7.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-65

#64 PAY-5180 - Remission update integration with payhub
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundResubmitPayhubRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ResubmitRefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/InvalidRefundRequestException.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-64

#67 feeid validation added
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-67

#66 Updated logic for IDAM role filter and perf test
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/UserIdentityDataDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-66

#72 changes for bringing the s2s secret to refunds key vault
  charts/ccpay-refunds-api/Chart.yaml
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-72

#79 added azurerd provider configuration
  infrastructure/state.tf
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-79

#83 s2s changes
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-83

#86 Adding secrets changes
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RootControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-86

#87 Liberata config chart
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-87
