Repository hmcts/ccpay-refunds-app, pull requests merged in 2021-08, with the labels that each got.

#29 CVE-2021-22118 fix added
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  dependency-check-suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-29

#45 Pay 5068 refunds retrieve actions
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundReviewRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/ActionNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/RefundReviewMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/RefundStatus.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RejectionReasonRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RejectionReasonsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/state/RefundEvent.java
  src/main/java/uk/gov/hmcts/reform/refunds/state/RefundState.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/StateUtil.java
  src/main/resources/application-local.yaml
  src/main/resources/db/changelog/db.changelog-0.4.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapperTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/state/RefundStateUtilTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-45

#42 Pay 4982 refunds actions by reviewer
  build.gradle
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundStatusUpdateRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentGroupResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/RemissionResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/FeesNotFoundForRefundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/ReconciliationProviderServerException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RefundFeeNotFoundInPaymentException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RefundNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RetrospectiveRemissionNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/UnequalRemissionAmountWithRefundRaisedException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/smokeTest/resources/application-smoke.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapperTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/PaymentServiceTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-42

#46 fee id implementation
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.1.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-46

#48 Rejection reasons
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/RejectionReasonResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RetrospectiveRemissionNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-48
