Repository hmcts/ccpay-refunds-app, pull requests merged in 2021-07, with the labels that each got.

#3 OIDC setup
  build.gradle
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/refunds/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/authcheckerconfiguration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/converter/RefundsJwtGrantedAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/exception/RefundsAccessDeniedHandler.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/exception/RefundsAuthenticationEntryPoint.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/exception/UnauthorizedException.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/filiters/ServiceAndUserAuthFilter.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/idam/IdamRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/utils/SecurityUtils.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/validator/AudienceValidator.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RootController.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/config/AuthCheckerConfigurationTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/config/SwaggerConfigurationTest.java
  src/test/resources/application-test.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-3

#10 Update cve-resolution-strategy.gradle
  cve-resolution-strategy.gradle
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-10

#12 Pay 4810
  cve-resolution-strategy.gradle
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/refund_status.tf
  infrastructure/template/api-policy.xml
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-12

#9 functional tests
  Jenkinsfile_CNP
  build.gradle
  config/pmd/ruleset.xml
  cve-resolution-strategy.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/RootFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/IdamApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/IdamService.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/Oauth2.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/OneTimePasswordFactory.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/S2sApi.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/S2sTokenService.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/TestConfigProperties.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/TestContextConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/TokenExchangeRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/config/ValidUser.java
  src/functionalTest/resources/application-test.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-9

#11 Launch darkly
  build.gradle
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/RootFunctionalTest.java
  src/functionalTest/resources/application-test.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/toggler/FeatureToggleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/toggler/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/toggler/LaunchDarklyFeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RootController.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RootControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-11

#18 changed services names
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/RootFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RootController.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsDomainService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsDomainServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-18

#20 test user password removed
  src/functionalTest/resources/application-test.yaml
  src/test/resources/application-test.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-20
