Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-08, with the labels that each got.

#211 PAY-5595 Payment Status Update
  build.gradle
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  dependency-check-suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsActionController.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/RefundStatus.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/state/RefundState.java
  src/main/resources/db/changelog/db.changelog-0.8.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundsActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/state/RefundStateUtilTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-211

#226 Ignored tests
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-226

#227 removed cancelled state
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  audit.json
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/state/RefundState.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-227

#233 Update suppressions.xml
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-233

#237 Add backstage configuration file
  catalog-info.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-237

#236 Update audit.json
  audit.json
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-236
