Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-12, with the labels that each got.

#296 CVE Suppression Date Update
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-296

#301 Pay 5829
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/authcheckerconfiguration/AuthCheckerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/utils/Utility.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-301

#303 added reasonCode in response
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/RefundDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundResponseMapper.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-303

#272 refund amount validation
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-272

#302 PAY-5766 Hardcard token
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/services/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-302
