Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-03, with the labels that each got.

#133 Pay 5347 approve journey-for demo
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/refunds/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/enums/NotificationType.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/Personalisation.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RecipientPostalAddress.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundNotificationEmailRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundNotificationLetterRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ResendNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/InvalidRefundNotificationResendRequestException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundNotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/ContactDetails.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/NotificationService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/main/resources/db/changelog/db.changelog-0.1.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/mappers/RefundNotificationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/NotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundNotificationServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-133

#142 Chart bump up
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-142

#160 updated
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/RefundIdamNotificationException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundNotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundNotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-160

#169 Pay 5422
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundFeeDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ResubmitRefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundFeeMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/RefundFees.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/NotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.9.yaml
  src/main/resources/db/changelog/db.changelog-master.xml
  src/main/resources/db/changelog/db.changelog-master.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerLock.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundNotificationServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-169

#171 Update RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-171

#174 Update Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-174

#175 test
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/RefundFees.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-175

#164 Pay 5504 template selection based on instruction type
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundNotificationMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/RefundsUtil.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/utils/RefundsUtilTest.java
  src/test/resources/application-test.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-164
