Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-09, with the labels that each got.

#240 testing zap changes in nightly-dev
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  security.sh
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-240

#181 Pay 5528 removal of refund sent flag and real time call to liberata
  build.gradle
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/request/FeeDto.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/request/PaymentRefundRequest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/response/PaymentDto.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ReconciliationProviderRefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ReconciliationProviderRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/ReconcilitationProviderFeeRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/ReconciliationProviderResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/ReconciliationProviderInvalidRequestException.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/ReconciliationProviderServerException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundFeeMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/ReconciliationProviderService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/ReconciliationProviderServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundNotificationServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/RefundsUtil.java
  src/main/resources/db/changelog/db.changelog-0.1.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/mappers/ReconciliationProviderMapperTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundNotificationServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-181

#252 Fix name in backstage
  catalog-info.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-252

#250 PAY-5752 Broken pipe fix
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-250

#224 PAY-5680 - Get Refund for Reporting
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentFailureDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentFailureReportDtoResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/PaymentFailureResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-224

#257 Update audit.json
  audit.json
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-257

#256 Pay 4884 CVE date update
  .gitignore
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application-local.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-256

#248 opening for payment
  charts/ccpay-refunds-api/values.preview.template.yaml
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-248, no-changes

#242 v2 api changes
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/ExceptionHandlers.java
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundSearchCriteria.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/FeeDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentFeeLibarataResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/PaymentRefundDto.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/RefundLiberata.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/responses/RerfundLiberataResponse.java
  src/main/java/uk/gov/hmcts/reform/refunds/exceptions/LargePayloadException.java
  src/main/java/uk/gov/hmcts/reform/refunds/mapper/RefundResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/PaymentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/DateUtil.java
  src/main/java/uk/gov/hmcts/reform/refunds/validator/RefundValidator.java
  src/main/resources/application-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundsActionControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/mappers/RefundNotificationMapperTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/PaymentServiceTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/resources/application-test.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-242
