Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-01, with the labels that each got.

#113 removed sensitive info
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/application-local.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-113

#114 PAY-5361-contact erase
  build.gradle
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundNotificationFlag.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/ContactDetails.java
  src/main/java/uk/gov/hmcts/reform/refunds/model/Refund.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.1.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-114

#117 PAY-5360 added contact_details JSON in POST /refund API request
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/request/ContactDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/request/PaymentRefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/dtos/requests/RefundRequest.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/resources/db/changelog/db.changelog-0.1.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-117

#121 PAY-5360 Removed template_id
  build.gradle
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/request/ContactDetails.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/model/ContactDetails.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-121

#127 Pay 5368 bump up chart
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-127
