Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-11, with the labels that each got.

#276 PAY-5620 Fixed Blocker issues from Sonar report
  charts/ccpay-refunds-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  src/functionalTest/resources/application-functional.yaml
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-276

#281 Notification fix replaced exception with logger
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-281

#287 upgrade snake yaml
  build.gradle
  charts/ccpay-refunds-api/values.preview.template.yaml
  cve-resolution-strategy.gradle
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-287

#280 PAY-5638 Fixed Critical Sonar Issues
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-280
