Repository hmcts/ccpay-refunds-app, pull requests merged in 2022-10, with the labels that each got.

#259 sonar-fix
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-259

#263 Ft
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-263

#264 Suppressed - CVE-2022-42004, CVE-2022-42003
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-264

#266 adding new endpoint for security scan
  audit.json
  charts/ccpay-refunds-api/values.preview.template.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-266

#273 PAY-5683 Java version upgrade in chart yaml
  audit.json
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-273

#274 Pay 5769 sonar issue
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-274
