Repository hmcts/ccpay-refunds-app, pull requests merged in 2023-01, with the labels that each got.

#308 add refud amount for all status except rejected
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-308

#307 FT Fix
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-307

#314 CVE fix 11012023
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-314

#313 PAY-5883 Bug Fix
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-313

#318 Refunds v2 job
  src/main/java/uk/gov/hmcts/reform/refunds/config/security/SpringSecurityConfiguration.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-318

#319 Update jenkins after
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/ccpay-refunds-api/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-319

#320 Upgraded Terraform version to 1.3.7
  infrastructure/.terraform-version
Labels: ns:fees-pay, prd:ccpay, no-changes, rel:ccpay-refunds-api-pr-320
