Repository hmcts/ccpay-refunds-app, pull requests merged in 2023-11, with the labels that each got.

#458 PAY-6571-Flexible-Server-Setup
  build.gradle
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/provider.tf
  infrastructure/variables.tf
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-458

#471 PAY-6571-remove flexible server
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-471

#472 PAY-6571-recreate flexible server
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-472

#473 PAY-6571 amend the secrets
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-473

#474 PAY-6571: Testing FT
  README.md
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-474

#480 PAY-6571: Refresh refunds apps
  README.md
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-480

#483 PAY-6571: Update Charts Payment Version
  charts/ccpay-refunds-api/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-483

#492 PAY-6571: Update secrets for AAT.
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.aat.template.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-492

#510 PAY-6693: Update to skip refunds for approval if created by user removed
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-refunds-api-pr-510

#516 PAY-6694: Strategic fix for User not found refunds list
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
Labels: ns:fees-pay, prd:ccpay, enable_keep_helm, rel:ccpay-refunds-api-pr-516

#521 PAY-6701 Force Access to flexible DB
  charts/ccpay-refunds-api/Chart.yaml
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-521

#522 PAY-6594: Remove trigger for old DB
  infrastructure/main.tf
Labels: ns:fees-pay, prd:ccpay, destroy, rel:ccpay-refunds-api-pr-522
