Repository hmcts/ccpay-refunds-app, pull requests merged in 2023-04, with the labels that each got.

#355 surpressions removed for initial build
  Dockerfile
  audit.json
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  cve-resolution-strategy.gradle
  security.sh
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-355, keep-helm

#356 added templated id in values.yaml
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  charts/ccpay-refunds-api/values.yaml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-356

#360 PAY-4884: Fix for security tests.
  audit.json
  functional-output/README.md
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-360

#361 added ignore
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-361

#362 revert ft ignore
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-362

#365 ft ignore
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-365

#316 PAY-5893
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-316

#366 remove ignore from ft
  audit.json
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-366

#324 PAY-5466 Refunds - refunds access control
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/RefundServiceRoleUtil.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/utils/Utility.java
Labels: ns:fees-pay, prd:ccpay, add-or-update, rel:ccpay-refunds-api-pr-324, keep-helm

#371 Suppression for cve with no fix available.
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-371

#373 PAY-5997: Update references to use platform.hmcts.net
  audit.json
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-373
