Repository hmcts/ccpay-refunds-app, pull requests merged in 2023-07, with the labels that each got.

#385 CVE-2023-2976 suppression
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-385

#388 PAY-6359: Set Chart depend apps to false.
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-388

#367 Refunds v2.1
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/PaymentFailureReportFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/fixture/RefundsFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/service/PaymentTestService.java
  src/functionalTest/resources/application-functional.yaml
  src/main/java/uk/gov/hmcts/reform/refunds/controllers/RefundsController.java
  src/main/java/uk/gov/hmcts/reform/refunds/repository/RefundsRepository.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/IdamServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundReviewServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsService.java
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/RefundServiceRoleUtil.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/service/RefundServiceImplTest.java
  src/test/java/uk/gov/hmcts/reform/refunds/utils/Utility.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-367

#390 Build dependancy apps in Preview again.
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  charts/ccpay-refunds-api/Chart.yaml
  charts/ccpay-refunds-api/values.preview.template.yaml
  src/functionalTest/resources/application-functional.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-390

#392 Re-enable FT in Refunds 2.1 following release
  src/functionalTest/java/uk/gov/hmcts/reform/refunds/functional/RefundsApproverJourneyFunctionalTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-392
