Repository hmcts/ccpay-refunds-app, pull requests merged in 2024-04, with the labels that each got.

#542 PAY-6925
  cve-resolution-strategy.gradle
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-542

#545 PAY-6925_change
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
Labels: ns:fees-pay, prd:ccpay, DO NOT MERGE, rel:ccpay-refunds-api-pr-545

#546 Pay 6982 Adding stale.yml for PR closing PRs with BOT and helm version update
  .github/workflows/stale.yml
  README.md
  cve-resolution-strategy.gradle
  src/main/java/uk/gov/hmcts/reform/refunds/services/RefundStatusServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/refunds/utils/RefundsUtil.java
  src/test/java/uk/gov/hmcts/reform/refunds/controllers/RefundControllerTest.java
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-546

#547 PAY-6982 Auto close bot for PR addition of stale.yml file and helm update
  .github/workflows/stale.yml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-547

#548 PAY-6982: Update Java chart version
  charts/ccpay-refunds-api/Chart.yaml
Labels: ns:fees-pay, prd:ccpay, rel:ccpay-refunds-api-pr-548
